.navbar {
  border-radius:0;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
  background:url('stardust.png');
}

.navbar-inverse a.navbar-brand {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  color:white;
}

.hero {
  background: url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:370px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

h1,h2,h3,h4,h5,h6, .navbar {
  margin:0;
}

.frosty {
  background:rgba(0,0,0,0.5);
  color:white;
}

.frosty h1 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  text-shadow: rgba(0,0,0,0.95) 1px 1px;
}

.frosty h2 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  text-shadow: rgba(0,0,0,0.95) 1px 1px;
}

.btn {
  border-radius:0;
}

body {
  background:url('bg.png');
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}


.zazz-box h2, .zazz-box h1 {
  margin:10px;
}

.zazz-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding:10px;
}

$footer-height: 100px;

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -footer-height;
  /* Pad bottom by footer height */
  padding: 0 0 footer-height;
}

/* Set the fixed height of the footer here */
#footer {
  height:footer-height;
  background-color: rgba(36,32,33,0.9);
  color:white;
  font-family:"Helvetica Neue",Helvetica;
  padding:10px 0px;
  margin-top:30px;
}

#footer a {
  color: white;
  font-weight:100;
}

.footer {
  position: absolute;
  bottom:0;
  width: 100%;
  height: footer-height;
  background-color: rgba(36,32,33,0.9);
  color: white;
  font-family: "Helvetica Neue", Helvetica;
  padding: 10px 0px;
  margin-top: 30px;
}

html,body {
  height: 100%;
}

.clr {
  clear:both;
}

.container {
    width: auto;
    padding: 0 15px;
}